.DAOSocial-container {
  background-color: rgb(35, 39, 34);
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: min-content 1fr;
  & > .container-title {
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
  }
  & > .container-body {
    display: grid;
    grid-template-columns: 1fr 30%;
    & > .social-content {
      display: grid;
      // grid-template-rows: 1fr 0.2fr;
      & > .social-content-body {
        display: grid;
        gap: 10px;
      }
      
    }
    & > .social-save {
      display: flex;
      padding-bottom: 30px;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
