.new-stream {
  display: grid;
  grid-template-rows: min-content 1fr;
  & > .stream-pool-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & > .tab-title {
      font-size: 18px;
      height: 2.5rem;
      background-color: black;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  & > .stream-pool-content {
  }
}
