@import "../../../scss/DAOVariable.scss";
.item-wrapper {
   margin: 5px;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 15px;
  &.plus-button {
    display: grid;
    grid-template-columns: 200px 1fr min-content;
  }
  & > .title {
    text-align: right;
    color:$text-color-common;// #1dd79b;
    font-size:18px;
  }
  & > .input-side-btn {
    cursor: pointer;
    display: grid;
    // --tw-gradient-stops: var(--tw-gradient-from),
    // var(--tw-gradient-to, rgb(57 208 216/0));
    background-image: linear-gradient(
      to bottom right,
      var(--tw-gradient-stops)
    );
    background-color: $bg-color-layer1;
    padding: 5px;
    border-radius: 0.5rem;
    color: white;
    & > img {
      width: 20px;
      height: 20px;
    }
    &:hover {
      visibility: show;
      background-color: $bg-color-layer1-hover;
    }
  }
  & > input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: $bg-color-layer1;
    border-radius: 8px;
    color: $text-color-common;
    font-size: 16px;

    &:focus, hover {
      background-color: rgb(25, 30, 30);
    }
  }
  input.num{
    width:4rem;
  }
  input:focus {
    outline: none !important;
  }
  .input-title {
    text-align: right;
    color: $text-color-common;
  }
  .input-checkbox {
    text-align: left;
    float: left;
  }
  .input-select {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .add-stream {
    color: $text-color-common;
    &:hover {
      cursor: pointer;
    }
  }
  .plus-button {
    margin-left: 40%;
  }
  & > .show-collections {
    padding: 0.2rem;
    border-radius: 5px;
    overflow: auto;
    height: 10rem;
    background-color: rgb(22, 27, 25);
    & > .item {
      vertical-align: top;
    }
  }
  & > .show_num {
    display: grid;
    grid-template-columns: 200px 50px;
  }
}
