.item-wrapper {
  margin: 5px;
  display: grid;
  grid-template-columns: 200px 1fr 30px;
  align-items: center;
  gap: 15px;
  & > .title {
    text-align: right;
    color: #1dd79b;
  }
  &>.input-recyclebin {
    display:grid;
    visibility:hidden;
    --tw-gradient-from: rgba(57,208,216,0.2);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgb(57 208 216/0));
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
    padding: 5px;
    border-radius: 0.5rem;
    & > img {
      display: block;
      width: 20px;
      height: 20px;
    }
    &:hover {
      visibility:show;
    }
  }
  & > input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: rgb(22, 27, 25);
    border-radius: 8px;
    color: white;
    font-size: 18px;

    &:hover {
      background-color: rgb(25, 30, 30);
    }
    &:focus {
      background-color: rgb(25, 30, 30);
    }
    
  }
  .input-title {
    text-align: right;
    color: #1dd79b;
  }
  .input-checkbox {
    text-align: left;
    float: left;
  }
  .input-select {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
   }
  .add-stream {
    color: #1dd79b;
    &:hover {
      cursor: pointer;
    }
  }
  .plus-button {

    margin-left: 40%;
  }
  
}
