$iconbtn-bgcolor-fill: 15f195;
$iconbtn-bgcolor-fill-hover: 1af2a5;
$iconbtn-bgcolor-unfill: rgb(25, 39, 34);
$iconbtn-bgcolor-unfill-hover: rgb(55, 69, 54);

$background-color-layer1: rgb(22, 27, 25);//161b19;
$background-color-layer2: rgb(30, 35, 36);//1e2324;
$btn-bgcolor-common: rgb(20, 241, 149);//14f195;
$text-color-common: rgb(255,255,255);//ffffff;

$font-sizes: (
  "small": 12px,
  "normal": 18px,
  "large": 24px,
);
