.dash_main {
  display: grid;
  // grid-template-rows: min-content 1fr;
  grid-template-rows: 30px 1fr;
  min-height: 79.95vh;
  width: 100%;
  background-color: #1e2423;
  font-family: Space Grotesk, -apple-system, BlinkMacSystemFont, Segoe UI,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  & > .dash_header {
    display: grid;
    color: white;
    font-family: Sans-Serif;
    text-align: center;
    justify-content: center;
  }
  & > .dash_container {
    display: grid;
    grid-template-columns: 250px 1fr;

    // color: white;
    font-family: Sans-Serif;
    text-align: center;
    & > .dash_menu {
      // min-height: 80vh;
      // background-color: #131a35;

      ul {
        list-style: none;
        display: grid;
        margin: 0 0 0 0;
        padding-left: 0;
        li {
          margin: 5px 10px 5px 10px;
          color: #4fff5a;
          cursor: pointer;
          :link {
            color: red;
          }

          &:hover,
          &.active {
            color: #85f58d;
            background-color: rgba(104, 212, 218, 0.05);
            border-radius: 0.8rem;
          }
        }
      }
    }
    & > .dash_content {
      border-top-left-radius: 1.25rem;
      display: grid;
      background-color: rgb(22, 27, 25);
    }
  }
  .footer {
    display: flex;
    grid-template-columns: min-content min-content;
    width: 100%;
    height: 50px;
    background-color: rgb(170, 185, 221);
    color: black;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
  }
}
