@import "../../scss/DAOVariable.scss";
.new-stream {
  display: grid;
  grid-template-rows: min-content 1fr;
  & > .stream-pool-tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & > .tab-title {
      font-size: 18px;
      height: 2.5rem;
      background-color: $bg-color-layer2-hover;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover,
      &.active {
        background-color: $bg-color-layer2;
      }
    }
  }
  .content-title {
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
  }
  & > .pool-stream-table {
    background-color: $bg-color-layer2;
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    & > .table-container {
      display: grid;
      padding-left: 30px;
      padding-right: 30px;
      grid-template-rows: min-content 1fr;
      & > .table-title {
        font-size: 20px;
        padding: 5px;
      }
      & > .table-content {
        padding: 5px;
        max-height: 155px;
        overflow:auto;
        table {
          width: 100%;
          overflow: scroll;
          font-weight: 100;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        table,
        th,
        td {
          border: 1px solid rgb(35, 39, 34);
          border-collapse: collapse;
          height: 1.8rem;
        }
        td {
          width: 20%;
        }
        th,
        td {
          padding-left: 5px;
          padding-right: 5px;

          background-color: $bg-color-layer1;
        }
      }
    }
  }
  & > .stream-pool-content {
    background-color: $bg-color-layer2;
    display: grid;
    grid-template-columns: 1fr 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    & > .stream-content {
      // display: grid;
    }
    & > .stream-initial-btn {
      display: flex;
      padding-bottom: 30px;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
